<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo" id="big">
            <div class="text-component">
                <div class="logo-text" id="text1">
                    DO<br>IT<br>TOGETHER
                    <div class="logo-text" id="text2">
                    DO<br>IT<br>TOGETHER
                    </div>
                </div>
            </div>      
        </div>
        <div class="login-container">
            <form class="login">
                <input name="email" type="text" placeholder="email@email.com">
                <input name="password" type="password" placeholder="password">
                <button>Zaloguj się</button>
                <text>Nie masz jeszcze konta?</text>
            </form>
        </div>

    </div>
</body>