h1.profile {
    font-size: 3em;
    margin-bottom: 1em;
}

h2.profile {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.user_data {
    /*padding-left: 6em;*/
}

section.user_data {
    display: inline-block;
    width: 60%;
}

section.user_photo {
    width: 40%;
}

.photo {
    width: 100%;
}

div.profile {
    display: flex;
    justify-content: space-between;
    background-color: mediumpurple;
    margin: 2vh 5vw;
    padding: 2vw;
    border-radius: 10px;
}

div#data {
    display: inline;
    /*flex-direction: column;*/
}

label {
    font-size: 1.5em;
    display: inline-block;
    width: 7vw;
}

.submit-btn {
    display: none;
}

.user-input {
    background-color: transparent;
    width: 50%;
}

form button {
    font-size: 1.5em;
}

#points {
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
}

#newPhotoForm {
    display: none;
}