h1.profile {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.user_data {
    padding-left: 6em;
}

section.user_data {
    display: inline;
}

div.profile {
    background-color: mediumpurple;
    margin: 10vw 5vw;
    padding: 2vw;
    border-radius: 10px;
}
